<h2>Purchase selected flight</h2>

<table>
  <tr>
    <th>Origin</th>
    <th>Destination</th>
    <th>Departing</th>
    <th>Flight Duration</th>
    <th>Price</th>
    <th>Number of Passengers</th>
    <th>Total Cost</th>
  </tr>

  <tr>
    <td><%= @flight.from_airport.code %></td> 
    <td><%= @flight.to_airport.code %></td>
    <td><%= @flight.departure.strftime("%m/%d/%y") %></td>
    <td><%= @flight.duration %></td>
    <td>$<%= @flight.price %></td>
    <td><%= @num_passengers %>
    <td>$<%= @total_price %>
  </tr>
</table><br><br>

<%= form_for [@flight, @booking] do |f| %>
  <% @num_passengers.times do |i| %>
    <%= "Passenger #{i+1}:" %>
    <%# f.label :name %>
    <%# f.text_field :name %><br>
    <%# f.label :email %>
    <%# f.text_field :email %><br>
  <% end %>
<% end %><br>

<form action="/flights/<%= @flight.id %>/bookings/new" id="payment-form">
  <input type="hidden" name="payment_method_token" id="payment_method_token">
  <%# Add hidden field to pass num_passengers variable to next screen %>
  <input type="hidden" name="num_passengers" value= <%= @num_passengers %>>
  <input type="button" value="Checkout" onclick="SpreedlyExpress.openView();">
</form>

<script>
// Initialize Spreedly Express with total cost
SpreedlyExpress.init("ZsZlG3TIExW3qlEs5lOVIj4mEyN", {
  // Additional quotation marks are needed for this to resolve as a string
  "amount": "<%= "$#{@total_price}" %>",
  "company_name": "Spreedly Airlines"
});


// Create a callback function that sends the payment method token to company servers
SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {

  // Send requisite payment method info to backend
  var tokenField = document.getElementById("payment_method_token");

  tokenField.setAttribute("value", token);

  var masterForm = document.getElementById('payment-form');
  masterForm.submit();
});
</script>